---
layout: single
---

{% if page.htb %}
{% assign htb = page.htb %}
{% assign authors = htb.author %}
<div id="htb_header">
<table>
	<tr>
		<th rowspan="6">
			<img src="{{ htb.avatar }}"></img>
		</th>
	</tr>
	<tr>
		<td>Platform</td>
		<td><a href="https://www.hackthebox.com/">Hack The Box</td>
	</tr><tr>
		<td>Machine</td>
		<td><a href="{{ htb.machine.url }}">{{ htb.machine.name }}</a></td>
	</tr><tr>
		<td>Difficulty</td>
		<td><b>{{ htb.difficulty }}</b></td>
	</tr><tr>
		<td>OS</td>
		<td><b>{{ htb.os }}</b></td>
	</tr><tr>
		<td>Author{% if authors[1] %}s{% endif %}</td>
		<td>
		<a href="{{ authors[0].url }}">{{ authors[0].name }}</a>
		{% assign authors = authors | slice: 1, 16 %}
		{% for author in authors %}
			• <a href="{{ author.url }}">{{ author.name }}</a>
		{% endfor %}
		</td>
	</tr>
</table>
</div>
{% endif %}

<div id="machine_writeup">
{{ content }}
</div>
